.item {
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  color: #327a91;
  padding: 8px;
  width: calc(100% - 18px);
  font-weight: bold;
  font-family: cursive;
  text-shadow: 2px 2px 4px #52acca;
  box-sizing: border-box;
}
.item-name {
  display: inline-block;
  width: calc(100% - 120px);
}
.item-value {
  display: inline-block;
  width: 80px;
  background: #e02c2c;
  border-radius: 60px;
  text-align: center;
  color: wheat;
}
.item-remove-icon {
  display: inline-block;
  color: #800c0c;
  height: 30px;
  cursor: pointer;
  padding: 0 0 0 14px;
}
.item-selected {
  background: #72b7c396;
  border-radius: 8px;
}